*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
}


/* Background color on header linear gradient blue */
.section-header{
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, rgb(4 193 168), rgb(145 239 226));
}

/* Displaying flex on div to create left and right column */
.row{
    display: flex;
}

/* Left column */
.left{
    width: 50%;
    border-right: 1px solid grey;
    padding: 0 35px 20px 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Image area(div) defined */
.left .swimming-pool-image{
    position: relative;
    height: 500px;
    top: -50px;
    background-image: url("img/IMG_8108.jpg");
    background-position-x: 25%;
    /* width: 100%; */
    background-size: cover;
}

/*  font of CEO's Message in left part */
.left h1{
    letter-spacing: 1px;
    font-size: 40px;
}


/* font setting of -Rahul agaskar in left section */
.left h3{
    letter-spacing: 1px;
    font-weight: 100;
    line-height: 25px;
}

/* font setting of left and right paragraphs */
.left p, .right p{
    margin: 30px 0;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size: 17px;
}


/* Color of Link in paragraph is made black */
.left p a{
    color: black;
}

.left p strong{
    font-size: 22px;
    letter-spacing: 1.2px;
}

.left div strong a{
    color: black;
    font-size: 18px;
}


/* Setting of right section */
.right{
    width: 50%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.right .magazine-photo{
    width: 85%;
    height: fit-content;
    position: relative;
    top: -50px;
    padding-left: 40px;
}

.magazine-photo img{
    width: 100%;
    height: 325px;
    object-fit: cover;
}

.right .magazine-photo span{
    display: block;
    text-align: center;
    margin: 5px 0;
}

.right .highlights{
    overflow: hidden;
    position: relative;
    /* top: -50px; */
}


/* Image area of key-highlights image */
.right .highlights .key-highlights-photo{
    margin: 0 20px;
    width: 90%;
    height: 300px;
    overflow: hidden;
    /* background-size: cover;
    background-repeat: no-repeat; */
}

/* Zooming image to set the required image area */
.key-highlights-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 2;
    object-position: 40px 75%;
}

.right .key-highlights{
    padding: 0px 15px 0 35px;
}

.right .key-highlights h3{
    margin: 15px 0;
    font-size: 26px;
    letter-spacing: 0.5px;
    font-weight: 100;
}

.right .key-highlights ul li{
    margin: 15px  0;
    font-size: 18px;
    letter-spacing: 0.5px;
}

ul li:nth-last-child(1){
    margin-bottom: 0 !important;
}


@media (max-width: 768px){
    .row{
        flex-direction: column;
    }

    .row .left, .row .right{
        border: none;
        width: 100%;
        padding: 10px 20px;
    }

    .right .magazine-photo{
        top: 0;
        width: 100%;
        padding-left: 0;
    }

    .right .key-highlights-photo{
        margin: 0 !important;
        width: 100% !important;
    }

    .right .key-highlights{
        padding: 0px 0px 0 18px;
    }
}